#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.pic {
    height: 60px;
    width: 60px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredients-list, .burger-cont {
    width: 50%;
    min-height: 408px;
    box-sizing: border-box;
    border: rgba(36, 36, 36, 0.43) 1px solid;
    padding: 25px;
    margin: 10px;
    position: relative;
}

.ingredients-list:before {
    content: 'Ingredients';
    position: absolute;
    left: 13px;
    top: -22px;
    background-color: #fff;
    padding: 8px;
}

.burger-cont:before {
    content: 'Burger';
    position: absolute;
    left: 13px;
    top: -22px;
    background-color: #fff;
    padding: 8px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.list-item p {
    width: 60px;
}

.list-item h3 {
    width: 34px;
}

.delete-btn {
    visibility: hidden;
    background-color: #ee6666;
    color: white;
    font-weight: bold;
    width: 30px;
    padding: 0.3em 0.6em;
}

.clear-btn {
    background-color: rgb(6, 110, 253);
    color: white;
    margin-top: 15px;
}

.visible {
    visibility: visible;
}

@media (min-width: 1000px) and (min-height: 700px) {
    .ingredients-list {
        width: 700px;
        height: 600px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .ingredients-list {
        width: 450px;
        height: 300px;
    }
}

@media (min-width: 500px) and (max-height: 400px) {
    .ingredients-list {
        width: 350px;
        height: 200px;
    }
}
